body {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding-bottom: 5px;
}
html {
    background-color: rgb(133, 129, 255);
}
nav {
    background-color: rgb(0, 0, 72);
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
}
a {
    color: rgb(133, 129, 255);
    text-decoration: none;
}
a:hover {
    color: white;
}
.over_ons {
    margin-left: 30px;
}
.nieuws {
    margin-left: 30px;
}
span {
    color: white;
}
p {
    margin: 10px;
}
h1 {
    margin: 10px;
}
#selected {
    color: rgb(120, 117, 152);
}
h2 {
    margin: 10px;
}
.logo {
    color: white;
}
.mailto {
    color: black;
    text-decoration: none;
}
.mailto:hover {
    color: black;
    text-decoration: underline;
}
.foto-koorkamp {
    height: 300px;
    width: auto;
}
.divlogo {
    flex: 50 1 auto;
}
.menu {
    flex: 1 1 auto;
}
.div {
    display: flex;
}
.een {
    flex: 1 1 auto;
}
.twee {
    flex: 2 1 auto;
}
p::selection {
    color: aqua;
}
h1::selection {
    color: aqua;
}